<div class="container">
    <h1>Welcome to GuaranTea!</h1>
        <div class="mainText">
            <h4>Order online</h4>
            <h4>Pick up in store.</h4>
            <h4>Guaranteed fresh tea!</h4>
        </div>    
        <img class="mainImage" src="img/teacup.jpg">  


    <img src="img/g1.png">
    <img src="img/g2.png">
    <img src="img/g3.png">
    <img src="img/g4.png">
    <img src="img/g1.png">
</div>