<div class="container">
    <h1>Welcome to GuaranTea!</h1>
    <h4><a href="/users/login">Login</a> or <a href="/users/register">Register</a></h4>
    <img src="img/teacup.jpg">
    <img src="img/g1.png">
    <img src="img/g2.png">
    <img src="img/g3.png">
    <img src="img/g4.png">
</div>