    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
{{!-- header --}}
<ul>
    <li><a href="/">Home</a></li> 
    {{!-- <li><a href="default.asp">Intro</a></li>
    <li><a href="/teas">Menu</a></li>
    <li><a href="contact.asp">Contact</a></li> --}}
    {{#if user}}
    <li style="float:right"><a class="active" href="/users/logout">Logout</a></li>
    {{!-- <li style="float:right"><a class="active" href="/users/register">Dashboard</a></li> --}}
    {{else}}
    <li style="float:right"><a class="active" href="/users/login">Login</a></li>
    <li style="float:right"><a class="active" href="/users/register">Register</a></li>
    {{/if}}
</ul>
<div class="container">
    <h2>Account Login</h2>
    <form method="post" action="/users/login">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
