    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
{{!-- header --}}
<ul>
    <li><a href="/">Home</a></li> 
    {{!-- <li><a href="default.asp">Intro</a></li>
    <li><a href="/teas">Menu</a></li>
    <li><a href="contact.asp">Contact</a></li> --}}
    {{#if user}}
    <li style="float:right"><a class="active" href="/users/logout">Logout</a></li>
    {{!-- <li style="float:right"><a class="active" href="/users/register">Dashboard</a></li> --}}
    {{else}}
    <li style="float:right"><a class="active" href="/users/login">Login</a></li>
    <li style="float:right"><a class="active" href="/users/register">Register</a></li>
    {{/if}}
</ul>
<div class="container">
    <h2>Register</h2>
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
    <form method="post" action="/users/register">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name" required>
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" required>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" pattern = "^.+@.+\..{2,4}$" name="email" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
