<div class="container">
    <h2>Add Item</h2>
    <form method="post" action="/teas">
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="teaname" placeholder="product name" required>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" placeholder="price" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
